@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
<<<<<<< HEAD
    --color-primary: #ffcc00; /* Amarelo pastel */
    --color-secondary: #f5f5dc; /* Bege clássico */
    --color-tertiary: #ff6699; /* Rosa vibrante */
    --color-button: #008080; /* Verde água */
    --color-button-hover: #006666; /* Verde água escuro */
    --color-text: #4B0082; /* Roxo escuro */
=======
    --color-primary: #670190;  /* Roxo escuro */
    --color-secondary: #fab81d; /* Amarelo pastel */
    --color-tertiary: #00ffbb; /* Verde neon */
    --color-button: #f42958; /* Rosa forte */
    --color-button-hover: #f44da0; /* Rosa claro */
    --color-text: #F8F8F8;
>>>>>>> 976fbecab13bc54838d1adfb60f64674e0724cbb
    --color-white: #FFFFFF;
  }
  
  /* Estilos gerais */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: "Press Start 2P", cursive; /* Fonte retrô estilo pixel */
  }
  
  body {
    height: 100vh;
    background: linear-gradient(45deg, var(--color-primary), var(--color-tertiary));
=======
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #240046, #5A189A);
>>>>>>> 976fbecab13bc54838d1adfb60f64674e0724cbb
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
<<<<<<< HEAD
  }
  
  /* Estrutura principal */
  .main-content {
=======
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content {
>>>>>>> 976fbecab13bc54838d1adfb60f64674e0724cbb
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos filhos horizontalmente */
    justify-content: center; /* Ajuda na centralização vertical */
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px; /* Adicionando padding para evitar que grude nas bordas */
  }
  
  /* Banner */
  .header-banner {
    display: flex;
    flex-direction: column; /* Organiza título e imagem em coluna */
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 20px 0;
    width: 100%;
    max-width: 600px; /* Limita a largura do banner */
  }
  
  .header-banner img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 15px; /* Espaço entre título e imagem */
  }
  
  /* Seção de entrada */
  .input-section {
    background: var(--color-secondary);
    border: 4px dashed var(--color-tertiary);
    border-radius: 30px;
=======
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background: var(--color-secondary);
    border: 3px solid var(--color-primary);
    border-radius: 64px 64px 0 0;
>>>>>>> 976fbecab13bc54838d1adfb60f64674e0724cbb
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
<<<<<<< HEAD
    width: 90%;
    max-width: 600px;
    box-shadow: 6px 6px 0px var(--color-text);
    margin-top: 20px; /* Espaço entre o banner e a seção de input */
  }
  
  /* Títulos */
  .main-title {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 4px 4px 0px var(--color-white);
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-tertiary);
    text-shadow: 2px 2px 0px var(--color-text);
    margin: 10px 0;
  }
  
  /* Inputs e botões */
  .input-wrapper {
=======
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Títulos */
.main-title {
    font-size: 36px;
    font-family: "Press Start 2P", cursive;
    font-weight: 900;
    color: var(--color-white);
    text-align: center;
}

.section-title {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    margin: 20px 0;
}

/* Contêiner de entrada e botão */
.input-wrapper {
>>>>>>> 976fbecab13bc54838d1adfb60f64674e0724cbb
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
  }
  
  .input-name {
    width: 100%;
<<<<<<< HEAD
    padding: 12px;
    border: 3px solid var(--color-text);
    border-radius: 15px 0 0 15px;
    font-size: 16px;
    background: #fff8dc;
    font-family: "Courier New", monospace;
  }
  
  button {
    padding: 12px 24px;
    border: 3px solid var(--color-text);
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 4px 0px var(--color-text);
    transition: 0.2s;
  }
  
  .button-add {
    background-color: var(--color-tertiary);
    color: var(--color-white);
    border-radius: 0 15px 15px 0;
  }
  
  .button-add:hover {
    background-color: #cc527a;
    transform: scale(1.05);
  }
  
  .button-draw {
    width: auto;
    padding: 12px 30px;
    background-color: var(--color-button);
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 0px var(--color-text);
  }
  
  .button-draw:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
  }
  
  /* Container do botão de sorteio */
  .button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Listas */
  ul {
    list-style-type: square;
    color: var(--color-text);
    font-family: "Courier New", monospace;
    font-size: 18px;
    margin: 20px 0;
    width: 100%; /* Garante que a lista use toda a largura disponível */
    padding-left: 20px; /* Adiciona espaço para os marcadores de lista */
  }
  
  .result-list {
    margin-top: 15px;
    color: #ff4500;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 0px var(--color-white);
  }
  
  /* Ajustes para telas menores */
  @media (max-width: 768px) {
    .main-title {
      font-size: 28px;
    }
    
    .section-title {
      font-size: 20px;
    }
    
    .input-wrapper {
      flex-direction: column;
    }
    
    .input-name {
      border-radius: 15px;
      margin-bottom: 10px;
    }
    
    .button-add {
      border-radius: 15px;
    }
  }
  /* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-secondary);
    border-top: 3px solid var(--color-tertiary);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -4px 0px var(--color-text);
  }
  
  .footer-text {
    color: var(--color-text);
    font-family: "Press Start 2P", cursive;
    font-size: 14px;
    text-shadow: 1px 1px 0px var(--color-white);
    margin: 0;
    padding: 2px 0;
  }
  
  /* Ajuste para garantir que o footer não sobreponha o conteúdo */
  body {
    padding-bottom: 60px; /* Ajuste conforme a altura do seu footer */
  }
  
  /* Responsividade para o footer */
  @media (max-width: 768px) {
    .footer-text {
      font-size: 12px;
    }
  }
  }
=======
    padding: 10px;
    border: 3px solid var(--color-primary);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    background: var(--color-tertiary);
    color: var(--color-primary);
    font-weight: bold;
}

/* Botões */
button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid var(--color-primary);
    border-radius: 25px;
    background: var(--color-button);
    color
>>>>>>> 976fbecab13bc54838d1adfb60f64674e0724cbb
